# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#all the output files
output/

#more output files
transformer/tables/*

#plotting
plots/

#logging
*.log

#lockfiles
*.lock

#database
*.db